.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 40px;
  width: 30%;
}

.input {
  margin: 15px 0;
  border: 1px solid rgba(230, 230, 230);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.input:focus {
  outline: thin;
}


.add {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: fit-content;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(230, 230, 230);
  color: #2fa4e7;
  font-weight: bold;
  border: none;
  outline: none !important;
}

.errorMessage {
  position: absolute;
  top: 60px;
  left: 0;
  color: #911818;
  font-size: 14px;
}

.historyContainer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp {
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: auto;
  padding: 50px 0;
  max-height: 80vh;
  position: relative;
}

.popUp::-webkit-scrollbar {
  display: none;
}

.popUp table {
  width: calc(100% - 100px);
  margin: auto;
  border: 1px solid rgba(230, 230, 230);
}

.popUp tr {
    cursor: pointer;
    transition: .3 ease-in-out;
}

.popUp thead {
    color: #2fa4e7;
    background-color: beige;
}

.popUp tr:hover{
    color: #2fa4e7;
    background-color: beige;
}

.popUp td,
.popUp th {
  text-align: center;
  text-transform: capitalize;
  height: 50px;
  border: 1px solid rgba(230, 230, 230);
  padding: 0 10px;
}

