.about,
.app {
    height: calc(100vh - 74px);
    width: 100%;
    display: flex;
}



.about {
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(247, 247, 247, 1);
}


