.todo{
    height: 100%;
    overflow: auto;
    padding: 0 50px;
    scroll-behavior: smooth;
}


.todo:nth-of-type(2){
    border-left: 1px solid royalblue;
    border-right: 1px solid royalblue;
}

.todo::-webkit-scrollbar{
    display: none;
}

.todo .wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    position: relative;
    margin: 30px 0;
}

.todo .wrapper:after{
    color: white;
    position: absolute;
    width: 200px;
    height: 25px;
    left: -87px;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
}

.todo.done .wrapper:after{
    background-color: rgba(81, 233, 119, 1);
    content: "Done";
}


.todo.inProgress .wrapper:after{
    background-color: rgba(243, 227, 3, 0.7);
    content: "In Progress";
}

.todo .wrapper:after{
    background-color: rgba(255, 0, 0, .5);
    content: "Todo";
}


.actions {
    position: absolute;
    right: 25px;
    top: 25px;
    display: flex;
}

.actions a {
    text-decoration: none;
    font-size: .75rem;
    font-weight: bold;
    padding: 0 10px;
    border-right: 1px solid gray;
}

.actions a:last-of-type{
    border-right: none;
}